/* 510171292 吳家驊 , 511172176 李則霖 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 只針對<main>內的按鈕應用樣式 */
main button, 
main input[type="submit"] {
  background-color: #29b6f6; /* 水藍色背景 */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px; /* 圓角 */
  cursor: pointer;
  transition: background-color 0.3s;
}

main button:hover, 
main input[type="submit"]:hover {
  background-color: #0077b6; /* 深藍色 */
}

/* 商品容器樣式 */
.products-container {
  margin-top: 50px; /* 增加上邊距 */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

/* 購物車容器樣式 */
.carts-container {
  background-color: #ffffffcc;
  border-left: 1px solid #eee;
}

