/* 510171292 吳家驊 , 511172176 李則霖 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px; /* 基本字體大小 */
  font-family: 'Noto Sans TC', sans-serif; /* 使用 Noto Sans TC 字體 */
  color: #333; /* 基本字體顏色 */
}

h4 {
  text-align: center;
  font-size: 18px; /* 標題字體大小 */
  font-weight: bold; /* 標題字體加粗 */
}

main {
  margin-top: 70px;
}

.padding {
  padding: 0.5rem;
}

.container {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0 auto;
  margin-top: 20px;
}

.order-item {
  min-width: 600px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.order-item:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.order-item .title {
  font-size: 16px; /* 調整標題字體大小 */
}

.order-item .processing {
  background-color: #ff674d; /* 處理中紅色背景 */
  color: white; /* 文字顏色 */
}

.order-item .deliverying {
  background-color: #6eb1f5; /* 運送中藍色背景 */
  color: white;
}

.order-item .arrived {
  background-color: #ebbd34; /* 已到貨黃色背景 */
  color: white;
}

.order-item .finished {
  background-color: #8ae86f; /* 已完成綠色背景 */
  color: white;
}

.order-detail-wrap, .order-product-wrap, .order-result-wrap {
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  background-color: #fff; /* 滑過時背景色變化 */
}

dialog {
  margin: auto;
  width: 300px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dialog form .button-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

dialog form select, select > * {
  padding: 0.5rem;
}

dialog form .button-wrap button {
  width: 50px;
  border: none;
  border-radius: 3px;
  padding: 0.2rem;
  cursor: pointer;
}

dialog form .button-wrap .dialog-cancel {
  background-color: red;
  color: #fff;
}

dialog form .button-wrap .dialog-confirm {
  background-color: rgb(47, 142, 16);
  color: #fff;
}

.status-hint {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
