/* 510171292 吳家驊 , 511172176 李則霖 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 0.5rem;
}

.flex {
  display: flex;
}

.account,
.pxwd {
  width: 200px;
  height: 20px;
}
