@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* 添加漸變背景 */
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.form {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

h4 {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 30px;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #2193b0;
  outline: none; /* 移除焦點時的藍色外框 */
}

input[type="submit"], button {
  background-color: #2193b0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

input[type="submit"]:hover, button:hover {
  background-color: #6dd5ed;
}

span {
  color: #fff;
  font-size: 0.85rem;
  text-align: center;
  display: block;
  margin-top: 20px;
}
