/* 510171292 吳家驊 , 511172176 李則霖 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-wrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
  justify-content: center;
}
